{% extends "base.html" %} {% block title %} Sign in {% endblock %}

{% block content %}
    <div class="container-fluid text-center">
        <h1 class="text-secondary text-left">Sign in</h1>

        <div class="row border-top justify-content-center m-2 text-secondary">
            <h1 class="p-3">Sign in to your account</h1>
            <div class="mb-3 d-flex flex-column" style="padding-left: 30%; padding-right: 30%;">
                <form method="POST">
                    {{ sign_in_form.csrf_token }}
                    {{ sign_in_form.username.label() }}
                    {{ sign_in_form.username(class_="form-control mb-3") }}
                    {{ sign_in_form.password.label(class_="mt-2") }}
                    {{ sign_in_form.password(class_="form-control mb-3") }}
                    <div class="form-check mb-3 d-flex justify-content-center align-items-center p-0 m-0">
                        <div class="mx-2">{{ sign_in_form.remember_me(class_="form-check-input btn-lg p-0 m-0") }}</div>
                        <div>{{ sign_in_form.remember_me.label(class_="form-check-label p-0 m-0") }}</div>
                    </div>
                    <div class="container-fluid">
                        {{ sign_in_form.submit(class_="btn btn-outline-primary") }}
                    </div>
                </form>
            </div>
            <div>
                <h5>Don't have an account? <a class="text-primary" href="{{ url_for('registerPage' ) }}">Register</a></h5>
            </div>
        </div>
        
    </div>
{% endblock %}