{% extends "base.html" %} {% block title %} Basket {% endblock %}

{% block content %}
    <div class="container-fluid text-center">
        {% if session['basket'] == [] %}
            <h1 class="text-secondary text-left">Your basket is empty...</h1>
        {% else %}
            <h1 class="text-secondary text-left">Your basket</h1>
        {% endif %}
        {% for item in basket %}
            <div class="row my-4 border-top m-2 mb-2 p-2 justify-content-between">

                <div class="col-2">
                    <h3 class="text-secondary">{{ item[1] }}</h3>
                    <div class="image-container__block rounded-1">
                        <a class="d-block" href="/products/{{ item[0] }}">
                            <img
                                class="img-fluid image-container__img"
                                src="{{ url_for('static', filename='imgs/' + item[2]) }}"
                                alt="Product image"
                            />
                        </a>
                    </div>
                </div>

                <div class="col-2 d-flex">
                    <h4 class="text-body-tertiary">Qty: {{ session['quantity{}'.format(item[0])] }}</h4>
                </div>

                <div class="col-2 d-flex">
                    {% set quantity = session['quantity{}'.format(item[0])] | int %}
                    {% set price = item[3] | float %}
                    <h4 class="text-body-tertiary">£{{ quantity * price | round(2) }}</h4>
                </div>

                <div class="col-2 d-flex">
                    {% set env_impact = item[4] %}
                    <h4 class="text-body-tertiary">Environment impact: {{ item[4] }}</h4>
                </div>

                <div class="col-2">
                    <form action="{{ url_for('basketPage') }}" method="POST">
                        <input type="hidden" name="item_id" value="{{ item[0] }}">
                        {{ remove_form.csrf_token }}
                        {{ wtf.quick_form(remove_form, button_map={'submit': 'btn btn-outline-danger btn-sm fs-4 border-0 py-0'}) }}
                    </form>
                </div>

            </div>
        {% endfor %}
        <div class="container-fluid mb-3">
            <a href="{{ url_for('checkoutPage' ) }}"><button class="btn btn-outline-primary btn-lg">Checkout</button></a>
        </div>
    </div>
{% endblock %}